* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  color: #122240;
}

.container {
  border:1px solid #063970;
  border-radius: 5px;
}

.container > .header {
  background: #17a2b8;
  border-radius: 5px 5px 0 0;
  padding: 0.2em 0;
}

.bg {
  background: #17a2b8;
  color: #f8f9fa;
}

h1 {
  font-size: 1.8em;
  padding: 0.2em;
  color: #f8f9fa
}

h2 {
  font-size: 1.5em;
  padding: 1em 0 0;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

ul li {
  display: block;
  border-bottom: 1px dashed #17a2b8;
  padding: 0.5em;
}

ul li.header {
  border-bottom-width: 2px;
}

ul li.header:hover {
  background: none;
}

ul li:hover {
  background: rgba(23,162,184, 0.2);
}

input, select {
  display: block;
  margin: 0.5em;
  width: 100%;
  border-radius: 5px;
}


select.inline {
  display: inline-block;
  width: auto;
}

button {
  margin-right: 1em;
}

.w-20 {
  width: 20%;
}

.modal-header {
  color: #f8f9fa;
  background: #dc3545;
}

.addNewCategory,
.addNewUnit {
  background: #ffca2c;
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  padding: 1em 0;
}

.hidden {
  display: none;
}